html {
  font-size: 10px;
  font-family: "Source sans pro", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* margin-inline: 150px; */
  position: relative;
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  max-width: 110rem;
  margin: 0 auto;
}

nav img {
  z-index: 1;
}

nav ul {
  display: flex;
  gap: 50px;
  z-index: 1;
}

#section-hero {
  min-width: 100vw;
  min-height: 109.3rem;
  background-image: url(./images/Object.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:link {
  cursor: pointer;
}

/* Hero info */
.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: 22rem;
}
h1 + div {
  display: flex;
  gap: 5rem;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  margin-block-end: 5rem;
}

h1 {
  font-size: 12rem;
  font-weight: bold;
  color: white;
}

button {
  border: none;
  background-color: #c271ff;
  color: white;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
  border-radius: 2.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  padding-block: 1.3rem;
  padding-inline: 2rem;
  cursor: pointer;
}

/* Hero images */
.hero-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img h2 {
  font-size: 3.2rem;
  font-weight: 100;
  color: white;
  line-height: 1.2;
  margin-block-start: 17rem;
  margin-block-end: 7rem;
}

.hero-img h2 span {
  font-weight: bold;
  color: #c271ff;
}

.hero-img div {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.hero-img div div {
  display: flex;
  flex: 1 15rem;
  flex-direction: column;
  align-items: center;
  max-width: 23.7rem;
  justify-content: space-between;
}

.hero-img div div img {
  min-width: 15rem;
  min-height: 15rem;
}

.hero-img div div img + h3 {
  font-size: 1.8rem;
  color: white;
  font-weight: 900;
}

.hero-img div div img + h3 + p {
  font-size: 1.6rem;
  font-weight: 100;
  color: white;
  width: 15rem;
  line-height: 1.5;
  font-style: italic;
  text-align: center;
}

[src$="2.png"] {
  border-radius: 50%;
}

#testimonial {
  position: absolute;
  top: 109.3rem;
  background-color: #c271ff;
  min-width: 100%;
  text-align: center;
  gap: 5rem;
  padding-block: 5rem;
}

.testimonial {
  display: flex;
  align-items: center;
  gap: 5rem;
  max-width: 90rem;
  margin: 0 auto;
  text-align: left;
}

#testimonial div img {
  min-width: 16rem;
  min-height: 16rem;
}

#testimonial div + div blockquote {
  color: white;
  font-size: 2.2rem;
  font-weight: 100;
  line-height: 1.2;
}

#testimonial div + div blockquote + h3 {
  margin-block-start: 2rem;
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
}

#testimonial div + div blockquote + h3 + p {
  font-size: 2.2rem;
  font-style: italic;
  color: white;
  font-weight: 100;
}

/* Tutotorial section styling */
#tutorials {
  position: absolute;
  top: 135.6rem;
  display: flex;
  flex-direction: column;
  padding-block: 6rem;
  padding-inline: 10rem;
}

#tutorials h2 {
  text-align: center;
  color: black;
  font-size: 3.2rem;
  font-weight: 100;
  margin-block-end: 8rem;
}

#tutorials h2 span {
  color: #c271ff;
  font-size: 3.2rem;
  font-weight: bold;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.card {
  min-height: 33.5rem;
}

.card > img:first-child {
  min-width: 25.5rem;
  min-height: 15.4rem;
}

.card img + h3 {
  font-size: 1.6rem;
  color: black;
  font-weight: bold;
  margin-block: 1.2rem;
}

.card img + h3 + p {
  font-size: 1.4rem;
  color: rgba(7, 22, 41, 0.5);
  font-weight: 300;
  line-height: 1.5;
}

.card-tutor {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.card-tutor [src$="1.png"] {
  width: 3rem;
  height: 3rem;
  margin-block: 2rem;
}

.card-tutor [src$="1.png"] + h4 {
  font-size: 1.4rem;
  font-weight: 300;
  color: #c271ff;
}

.card-ratings-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-ratings {
  display: flex;
  gap: 0.5rem;
}

.card-ratings div {
  color: #c271ff;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.card-ratings div:last-child {
  color: #979797;
}

.card-ratings-box > p {
  color: #c271ff;
  font-size: 1.4rem;
  font-weight: 300;
}

/* Membership section */
#membership {
  min-width: 100dvw;
  background-color: #071629;
  position: absolute;
  top: 193.1rem;
  display: flex;
  flex-direction: column;
  color: white;
  padding-block-start: 5rem;
  padding-block-end: 3rem;
}

#membership > div {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: space-evenly;
  margin-inline: 10rem;
}

#membership > h2:first-child {
  text-align: center;
  font-size: 3.2rem;
  color: inherit;
  font-weight: 100;
  margin-block-end: 3rem;
}

#membership > h2:first-child span {
  color: #c271ff;
  font-weight: bold;
}

#membership > div div {
  flex: 1 25.7rem;
  text-align: center;
  min-width: 25.7rem;
  min-height: 15.3rem;
  /* padding-inline: 4rem; */
}

#membership > div div img {
  min-width: 4.3rem;
  min-height: 3.5rem;
  margin-block-start: 3rem;
  margin-block-end: 4rem;
}

#membership > div div h3 {
  font-size: 1.8rem;
  font-weight: 300;
}

#membership > div div p {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.5;
  margin-block-start: 1rem;
}

#membership button {
  align-self: center;
  margin-block-start: 5rem;
}

/* FAq styles */
#faq {
  position: absolute;
  top: 236rem;
  min-width: 100dvw;
}

#faq > div {
  max-width: 92rem;
  max-height: 70.5rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";
  gap: 10rem;
  row-gap: 5rem;
  margin: 0 auto;
}

#faq h2 {
  font-size: 6rem;
  font-weight: 100;
  color: #071629;
  margin-block: 5rem;
  text-align: center;
}

#faq h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-block-end: 3rem;
}

.faq-1 {
  grid-area: top-left;
  min-width: 35rem;
  min-height: 24.2rem;
}
.faq-2 {
  grid-area: top-right;
  min-width: 35rem;
  min-height: 24.2rem;
}
.faq-3 {
  grid-area: bottom-left;
  min-width: 35rem;
  min-height: 24.2rem;
}
.faq-4 {
  grid-area: bottom-right;
  min-width: 35rem;
  min-height: 24.2rem;
}

.faq-text {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 100;
  color: #979797;
}

/* Footer styles */
footer {
  position: absolute;
  top: 306.9rem;
  background-color: #071629;
  min-width: 100dvw;
  min-height: 25rem;
  color: white;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 10rem;
  padding-inline: 10rem;
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.fa-brands {
  font-size: 3rem;
}

.footer-content + p {
  color: #979797;
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
  padding-block-end: 3rem;
}
