/* My styles */
body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

header {
  background-color: #f8b4b4;
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}
article {
  flex: 2;
  overflow-y: auto;
}
aside {
  flex: 1;
  overflow-y: auto;
  background-color: #ecdcdc;
  color: white;
}

footer {
  background-color: #522c2c;
  color: rgb(90, 253, 90);
  padding-block: 45px;
}

footer a {
  color: rgb(90, 253, 90);
}

.logo {
  padding-inline-start: 30px;
}
